body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 100px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
  z-index: 1;
}

.text {
  font-size: 14px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

.text li {
  display: inline-block;
  letter-spacing: 0.5px;
  padding-top: 10px;
  margin-left: 50px;
}

ol, ul {
   list-style-type: none;
}

.instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: red;
  float: right;
  text-align: center;
  padding-right: 63px;
  padding-top: 274px;
}

.ryu-container {
	float: left;
}


.ryu {
	width: 659px;
	height: 494px;
}

.ryu-cool, .ryu-standing-still, .ryu-ready-position, .hadouken, .ryu-throwing-hadouken {
  background-repeat: no-repeat;
}

.ryu-ready-position, .ryu-standing-still, .ryu-throwing-hadouken, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready-position, .ryu-throwing-hadouken, .ryu-cool  {
  display: none;

} 

.ryu-ready-position {
  background-image: url('../images/ryu-ready-position.gif');

}

.ryu-standing-still {
  background-image: url('../images/ryu-standing-still.png');

}

.ryu-throwing-hadouken {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}


.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
<<<<<<< HEAD
  z-index: -100;
  top: 167px;
  left: 520px;
=======
  z-index: -10;
  top: 128px;
  left: 240px;
  float: left;
>>>>>>> 151546fc858ef14f6a0d5325a9100930ad6117a1
}

/*
.hulk-ryu {
    filter: hue-rotate(90deg);
}



* {
  outline: red 1px solid;
}

