body {
	background-color: black;
}

/* Streetfighter logo img - top nav */

.logo {
    height: 6rem;
    margin-left: 29rem;
}

.main {
	background-color: white;
	margin-top: 4px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
  z-index: 1;
}

.instructions {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Architects Daughter', cursive;
  font-size: 21px;
  color: red;
  float: right;
  text-align: center;
  padding-right: 98px;
  padding-top: 250px;
  letter-spacing: .5px;
}

.text {
 
  color: white;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Architects Daughter', cursive;
  font-size: 11px;
  font-weight:lighter;
  margin: 20px;
  margin-top: 30px;
  margin-left: 300px;
  letter-spacing: 4px;

}

.text li {
  /*display: inline-block;*/
  padding-left: 10px;
  margin-left: 62px;
  text-align: center;
}


ol, ul {
  list-style-type: none;
}
.ryu-container {
	float: left;
}


.ryu {
	width: 659px;
	height: 494px;
}

.ryu-ready-position, .ryu-standing-still, .ryu-throwing-hadouken, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready-position, .ryu-throwing-hadouken, .ryu-cool {
  display: none;
} 

.ryu-ready-position {
  background-image: url('../images/ryu-ready-position.gif');
  background-repeat: no-repeat;
}

.ryu-standing-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing-hadouken {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.ryu-cool, .ryu-standing-still, .ryu-ready-position, .hadouken, .ryu-throwing-hadouken {
	background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
  z-index: -10;
  top: 165px;
  left: 400px;
}

/*
.hulk-ryu {
    filter: hue-rotate(90deg);
}

* {
  outline: red 1px solid;
}

